<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>College Index</title>
  </head>
  <body>
    <h1>College Index Page</h1>
    <nav>
      <a href="/colleges/new">Add a New College to Your List</a>
    </nav>
    <ul>
      <% for(let i = 0; i < college.length; i++) { %>
        <li>
          <a href="/colleges/<%colleges[i].indexOfCollegesArray%>"> <%= colleges[i].name %></a>
          <form method="POST" action="/colleges/<%= colleges[i].indexOfCollegesArray %>?_method=DELETE">
            <button>Delete</button>
          </form>
        </li>
      <% } %>
        
  </body>
</html>



<%- include('./partials/footer.ejs') %>