<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New College Form</title>
  </head>
  <body>
  	<h1>New College Form Page</h1>
  	<form action="/colleges" method="POST">
  		<label for="name">School Name</label>
  		<input type="text" name="name" id="name"/>
  		<label for="location">City,State</label>
  		<input type="text" name="location" id="location"/>
  		<label for="cost">Cost Per Semester</label>
  		<input type="text" name="cost" id="cost"/>
  		<label for="programs">Programs of Interest</label>
  		<input type="text" name="programs" id="programs"/>
  		<label for="hasApplied">Student Has Applied</label>
  		<input type="checkbox" name="hasApplied" id="hasApplied"/>
  		<label for="hasBeenAccepted">Student Has Been Accepted</label>
  		<input type="checkbox" name="hasBeenAccepted" id="hasBeenAccepted"/>
  		<input type="submit" value="Add College">
  	</form>
  </body>
</html>