<!DOCTYPE html>
<html>
  <head>
  	<style>
  		body{
  			background: lavender;
  		}
  		h1{
  			color: red;
  		}

  	</style>
    <meta charset="utf-8" />
    <title>Colleges Show</title>
  </head>
  <body>
    <h1>College show page</h1>
    <p>
    	<%= college.name %>
    </p>
  </body>
</html>

<a href="/colleges">Back to Index</a>

<%- include('./partials/footer.ejs') %>