<main>

  <h1><%= college.name%></h1>
  
  

</main>
<br>
<br>
<br>
 <a href="/colleges">View All Colleges</a>
<br>
 <a href="/colleges/new">Add a New College to Your List</a>

<br>
<br>
<br>
<%- include('./partials/footer.ejs') %>

